version: "3.9"
services:
  db:
    image: postgres:16
    container_name: own-doc-db
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: own_doc
    volumes:
      - db_data:/var/lib/postgresql/data

volumes:
  db_data:
